@import model.Contribution
@(c: Contribution)
<p>
    @c.via.user.map { u =>
        <a href="@routes.UserController.user(u.id, None)">@u.displayName</a>
    }
    | @c.created.toDate.format("d MMM YYYY HH:mm")
    @c.via.client.map { c =>
        via @c.name
    }
    @c.assignment.map{ a =>
       | <a href="@routes.AssignmentController.assignment(a.id, None)">@a.name</a>
    }
    @c.place.map{ p =>
        |
        @p.name.map{ pn =>
            <span class="place" @p.latLong.map{ ll => data-latitude="@ll.latitude" data-longitude="@ll.longitude"} @p.osm.map{ osm => data-osm="@osm.osmId/@osm.osmType"}>
                @pn
            </span>
        }
    }
</p>