@import model.User
@(owner: User, signedIn: Option[User])(implicit messages: Messages)

<h3><a href="@routes.IndexController.index(None, None)">@owner.displayName</a></h3>

<ul>
    <li><a href="@routes.AssignmentController.assignments(None)">@Messages("assignments")</a></li>
    <li><a href="@routes.IndexController.gallery(None)">@Messages("gallery")</a></li>
    <li><a href="@routes.IndexController.videos(None)">@Messages("videos")</a></li>
    <li><a href="@routes.SubmitController.prompt">Submit</a></li>
</ul>

@signedIn.fold{
    <ul>
        <li><a href="@routes.LoginController.prompt">@Messages("sign.in")</a></li>
        <li><a href="@routes.RegisterController.prompt">Register</a></li>
    </ul>
}{ s =>
    <ul>
        <li>Signed in as <a href="@routes.UserController.profile">@s.displayName</a></li>
        <li><a href="@routes.LoginController.logout">Sign out</a></li>
    </ul>
}
