@import model.User
@(owner: User, signedIn: Option[User])

<h3><a href="@routes.Application.index(None)">@owner.displayName</a></h3>

<p><a href="@routes.NoticeboardController.noticeboards(None)">Noticeboards</a></p>

@signedIn.fold{
    <a href="@routes.LoginController.prompt">Sign in</a>
    <a href="@routes.RegisterController.prompt">Register</a>
}{s =>
    Signed in as <a href="@routes.UserController.user(s.id, None)">@s.displayName</a>
    <a href="@routes.LoginController.logout">Sign out</a>
    <a href="@routes.SubmitController.prompt">Submit</a>
}
