@import model.User
@(owner: User, signedIn: Option[User])

<h3><a href="@routes.Application.index(None, None)">@owner.displayName</a></h3>

<ul>
    <li><a href="@routes.NoticeboardController.assignments(None)">Assignments</a></li>
    <li><a href="@routes.Application.gallery(None)">Gallery</a></li>
    <li><a href="@routes.Application.videos(None)">Videos</a></li>
</ul>

@signedIn.fold{
    <ul>
        <li><a href="@routes.LoginController.prompt">Sign in</a></li>
        <li><a href="@routes.RegisterController.prompt">Register</a></li>
    </ul>
}{ s =>
    <ul>
        <li>Signed in as <a href="@routes.UserController.profile">@s.displayName</a></li>
        <li><a href="@routes.LoginController.logout">Sign out</a></li>
        <li><a href="@routes.SubmitController.prompt">Submit</a></li>
    </ul>
}
