@import model.Report
@(r: Report, imageType: String, preview: Boolean)

@r.mediaUsages.headOption.map{ mu =>

    @defining(mu.media.`type`) { t =>

        @t.map{ ct =>
            @if(ct == "video") {
                @if(preview) {
                    @mu.artifacts.find(a => a.label == "nHD" && a.contentType.startsWith("image") && a.url.nonEmpty).map{v =>
                        <a href="@routes.ReportController.contribution(r.id)"><img src="@v.url" /></a>
                    }

                } else {
                    @mu.artifacts.find(a => a.label == "nHD" && a.contentType.startsWith("video/mp4") && a.url.nonEmpty).map{v =>
                        <video src="@v.url" width="@v.width" height="@v.height" controls="true"
                           @mu.artifacts.find(a => a.contentType.startsWith("image")).map{p => poster="@p.url"} ></video>
                    }
                }
            }

            @if(ct == "image") {
                @mu.artifacts.find(a => a.contentType.startsWith("image") && a.label == imageType && a.url.nonEmpty).map{i =>
                    <a href="@routes.ReportController.contribution(r.id)"><img src="@i.url" /></a>
                }
            }
        }
    }

}
