@import model.Report
@(reports: Seq[Report])
@reports.map{r =>
    <a href="@routes.Application.report(r.id)"><h5>@r.headline</h5></a>
    @r.noticeboard.map{n =>
        <p><a href="@routes.NoticeboardController.noticeboard(n.id)">@n.name</a></p>
    }
    @includes.media(r, 80)

    <p>@r.created.toDate.format("d MMM YYYY HH:mm")</p>

    <p><a href="@routes.UserController.user(r.user.id)">@r.user.displayName</a>
        @r.created.toDate.format("d MMM YYYY HH:mm")</p>

    @r.image.map{i =>
        <p>@i</p>
    }
    @r.body.map{b =>
        <p>@b</p>
    }
    @r.place.map{p =>
        @p.name.map{pn => <br/><i>@pn</i>}
        @p.latLong.map{ll => <br/><i>@ll.latitude @ll.longitude</i>}
        @p.osm.map{osm => <br/><i>@osm.osmId/@osm.osmType</i>}
    }
    <p>
        @r.tags.map{t =>
        <a href="@routes.TagsController.tag(t.id)">@t.name</a>
        }
    </p>

}