@import model.{Report, User}
@import model.Noticeboard
@import views.PageLink
@(noticeboards: Seq[Noticeboard], owner: User, signedIn: Option[User], pages: Seq[PageLink], contributionCounts: Map[String, Long])(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>Noticeboards</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    @includes.pages(pages)

    @noticeboards.map { n =>
        <h4><a href="@routes.AssignmentController.assignment(n.id, None)">@n.name</a> @contributionCounts.get(n.id).map{ c => (@c) }</h4>

        @n.description.map{ d =>
            <p>@Html(d)</p>
        }
        @n.endDate.map{ed =>
            <p>Ends: @ed.toDate.format("d MMM YYYY HH:mm")</p>
        }

        <p>Featured: @n.featured</p>

        @n.cover.map{ c =>
            @c.artifacts.find(a => a.contentType.startsWith("image") && a.width == Some(320)).map{ i =>
                <a href="@routes.AssignmentController.assignment(n.id, None)"><img src="@i.url" /></a>
            }
        }
        <hr/>
    }

</body>
</html>