@import model.{Contribution, User}
@import model.Assignment
@import views.PageLink
@(assignment: Assignment, reports: Seq[Contribution], owner: User, signedIn: Option[User], totalContributions: Long, pages: Seq[PageLink])(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>@assignment.name</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>@assignment.name (@totalContributions)</h4>

    @assignment.description.map{d =>
        <p>@Html(d)</p>
    }

    @assignment.ends.map { ed =>
        <p>Ends: @ed.toDate.format("d MMM YYYY HH:mm")</p>
    }

    <p><a href="@routes.AssignmentController.gallery(assignment.id, None)">Gallery</a>
        
    @includes.pages(pages)
        
    @includes.reports(reports)

<hr/>
</body>
</html>