@import model.{Contribution, User}
@import model.Assignment
@import views.PageLink
@(noticeboard: Assignment, reports: Seq[Contribution], owner: User, signedIn: Option[User], pages: Seq[PageLink])(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>@noticeboard.name</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>@noticeboard.name</h4>

    @noticeboard.description.map{d =>
        <p>@Html(d)</p>
    }

    @noticeboard.ends.map{ed =>
        <p>Ends: @ed.toDate.format("d MMM YYYY HH:mm")</p>
    }

    @includes.pages(pages)

    <hr/>

    @reports.map{r =>
        @includes.media(r, "medium", true)
    }

<hr/>
</body>
</html>