@import model.forms.FlagSubmission
@import model.{FlagType, Contribution, User}
@import play.api.Play.current
@(r: Contribution, owner: User, signedIn: Option[User], flagTypes: Seq[(String, String)], flagForm: Form[FlagSubmission])(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>@r.headline</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>@r.headline</h4>
    @includes.contributionAttributes(r)
    @includes.media(r, "mediumoriginalaspectdouble", false)

    @r.body.map{b =>
        <p>@b</p>
    }

    <hr/>
    <h6>Contribution a problem with this contribution</h6>

    @helper.form(action = routes.ContributionController.flag(r.id)) {
        @helper.select(flagForm("type"), options = flagTypes)
        @helper.inputText(flagForm("notes"))
        @helper.inputText(flagForm("email"))
        <input type="submit" id="submit">
    }
    <hr/>

</body>
</html>
