@import model.{Contribution, User}
@import model.Assignment
@import views.PageLink
@(contributions: Seq[Contribution], owner: User, signedIn: Option[User], nextPage: Option[PageLink], totalContributions: Long)(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>Gallery</h4>
    (@totalContributions)

    <hr/>

    <div id="posts">
        @contributions.map{ c =>
            <div class="post gallery-image">
                @includes.media(c, "medium", true)
                <div class="caption">
                    <p>
                        @c.headline
                        @c.place.map { p =>
                            @p.name.map { pn =>
                                <br/><span class="place"><i class="fa fa-map-marker" aria-hidden="true"></i> @p.name</span>
                            }
                        }
                    </p>

                    @if(c.likes > 0) {
                        <p>
                            <i class="fa fa-heart" aria-hidden="true"></i> @c.likes
                        </p>
                    }
                </div>
            </div>
        }
    </div>

    @includes.pagination(nextPage)

<hr/>
</body>
</html>