@import model.{Contribution, User}
@import model.Assignment
@import views.PageLink
@(contributions: Seq[Contribution], owner: User, signedIn: Option[User], pages: Seq[PageLink], totalContributions: Long)(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>Gallery</h4>
    (@totalContributions)
    @includes.pages(pages)

    <hr/>

    @contributions.map{r =>
        @includes.media(r, "medium", true)
    }

<hr/>
</body>
</html>