@import model.{Report, User}
@import model.Assignment
@import views.PageLink
@(reports: Seq[Report], owner: User, signedIn: Option[User], pages: Seq[PageLink], contributions: Long)(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>Gallery</h4>

    (@contributions)
    @includes.pages(pages)

    <hr/>

    @reports.map{r =>
        @includes.media(r, "medium", true)
    }

<hr/>
</body>
</html>