@import model.Contribution
@import model.Tag
@import model.User
@import views.PageLink
@(contributions: Seq[Contribution], owner: User, signedIn: Option[User], totalContributions: Long, nextPage: Option[PageLink], mediaTypeRefinement: Map[String, Long])(implicit messages: Messages)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>@owner.displayName</title>
    @owner.bio.map { b =>
        <meta name="description" content="@b"/>
    }
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <p>@totalContributions @Messages("contributions")</p>
    @includes.mediaTypeRefinement(mediaTypeRefinement)

    @includes.contributions(contributions)

    <hr/>

    @includes.pagination(nextPage)

</body>
</html>
