@import model.Report
@import model.Tag
@import model.User
@import views.PageLink
@(tags: Seq[Tag], reports: Seq[Report], owner: User, signedIn: Option[User], contributions: Long, pages: Seq[PageLink])
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

    @includes.header(owner, signedIn)

    <hr/>
    <table border="1">
        <tr valign="top">
            <td>
                @includes.sidenav(tags)
            </td>
            <td>

                (@contributions)

                <p><a href="@routes.Application.gallery(None)">Gallery</a>

                @includes.pages(pages)

                @includes.reports(reports)
            </td>
        </tr>
    </table>
    <hr/>

</body>
</html>
