@import model.Report
@import model.Tag
@import model.User
@import views.PageLink
@(reports: Seq[Report], owner: User, signedIn: Option[User], contributions: Long, pages: Seq[PageLink])
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

    @includes.header(owner, signedIn)

    <hr/>

                (@contributions)

                <p>
                    <a href="@routes.Application.gallery(None)">Gallery</a>
                    <a href="@routes.Application.videos(None)">Videos</a>
                </p>

                @includes.pages(pages)

                @includes.reports(reports)

    <hr/>

</body>
</html>
