@import model.forms.LoginDetails
@import model.User
@import play.api.Play.current
@(loginForm: Form[LoginDetails], owner: User)(implicit messages: Messages)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

@includes.header(owner, None)

<hr/>
<h4>@Messages("sign.in")</h4>

    <p>Not already registered? <a href="@routes.RegisterController.prompt">Register now</a></p>

    @loginForm.globalError.map { error =>
        <p class="error">@error.message</p>
    }

<h4>Username / password</h4>
@helper.form(action = routes.LoginController.submit) {
    @helper.inputText(loginForm("username"))
    @helper.inputPassword(loginForm("password"))
    <p class="buttons">
        <input type="submit" id="submit" value="@Messages("sign.in")">
    <p>
}

<h4>Facebook</h4>
<p><a href="@routes.FacebookLoginController.redirect">@Messages("sign.in.facebook")</a></p>

<h4>Twitter</h4>
<p><a href="@routes.TwitterLoginController.redirect">@Messages("sign.in.twitter")</a></p>

<h4>Google</h4>
<p><a href="@routes.GoogleLoginController.redirect">@Messages("sign.in.google")</a></p>

<hr/>
</body>
</html>
