@import model.LoginDetails
@import model.User
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@(loginForm: Form[LoginDetails], owner: User)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

@includes.header(owner, None)

<h4>Login</h4>

    @loginForm.globalError.map { error =>
        <p class="error">@error.message</p>
    }

    @helper.form(action = routes.LoginController.submit) {
        @helper.inputText(loginForm("username"))
        @helper.inputPassword(loginForm("password"))
        <p class="buttons">
            <input type="submit" id="submit">
        <p>
    }

<h4>Facebook</h4>
<p><a href="@routes.FacebookLoginController.redirect">Login with Facebook</a></p>

<h4>Twitter</h4>
<p><a href="@routes.TwitterLoginController.redirect">Login with Twitter</a></p>

</body>
</html>
