@import model.{Report, User}
@import model.Noticeboard
@(noticeboards: Seq[Noticeboard], owner: User, signedIn: Option[User], pages: Range)
<!DOCTYPE html>
<html>
<head>
    <title>Noticeboards</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    @includes.pages(pages)

    @noticeboards.map{n =>
        <h4><a href="@routes.NoticeboardController.noticeboard(n.id, None)">@n.name</a></h4>
        @n.description.map{d =>
            <p>@Html(d)</p>
        }
        @n.endDate.map{ed =>
            <p>Ends: @ed.toDate.format("d MMM YYYY HH:mm")</p>
        }

        <p>Moderated: @n.moderated</p>
        <p>Featured: @n.featured</p>
    <hr/>
    }

</body>
</html>