@import model.{Report, User}
@import model.Noticeboard
@import views.PageLink
@(noticeboards: Seq[Noticeboard], owner: User, signedIn: Option[User], pages: Seq[PageLink])
<!DOCTYPE html>
<html>
<head>
    <title>Noticeboards</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    @includes.pages(pages)

    @noticeboards.map{n =>
        <h4><a href="@routes.NoticeboardController.noticeboard(n.id, None)">@n.name</a> (@n.contributions)</h4>
        @n.description.map{d =>
            <p>@Html(d)</p>
        }
        @n.endDate.map{ed =>
            <p>Ends: @ed.toDate.format("d MMM YYYY HH:mm")</p>
        }

        <p>Moderated: @n.moderated</p>
        <p>Featured: @n.featured</p>
        <p>@n.supportedMediaTypes</p>

        @n.cover.map{m =>
            @m.contentType.map{ct =>
                @if(ct == "image") {
                    @m.artifacts.find(a => a.contentType.startsWith("image") && a.width == 320).map{i =>
                        <a href="@routes.NoticeboardController.noticeboard(n.id, None)"><img src="@i.url" /></a>
                    }
                }
            }
        }

        <hr/>
    }

</body>
</html>