@import model.{Report, User}
@import model.Noticeboard
@(noticeboard: Noticeboard, reports: Seq[Report], owner: User, signedIn: Option[User], contributions: Long)
<!DOCTYPE html>
<html>
<head>
    <title>@noticeboard.name</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>@noticeboard.name</h4>

    (@contributions)

    @noticeboard.description.map{d =>
        <p>@Html(d)</p>
    }

    @noticeboard.endDate.map{ed =>
        <p>Ends: @ed.toDate.format("d MMM YYYY HH:mm")</p>
    }

    <p><a href="@routes.NoticeboardController.gallery(noticeboard.id, None)">Gallery</a>

    <hr/>

    @includes.reports(reports)

<hr/>
</body>
</html>