@import model.{User, Report, SearchResult}
@(user: User, owner: User, signedIn: Option[User], approved: SearchResult, awaiting: SearchResult, rejected: SearchResult)(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>@user.displayName</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>@user.displayName</h4>

    <p>Registered @user.registered</p>

    <p>@user.id</p>

    <hr/>
    <h4>Your contributions</h4>

    <h5>Approved (@approved.numberFound)</h5>
    @includes.reports(approved.results)

    <h5>Awaiting (@awaiting.numberFound)</h5>
    @includes.reports(awaiting.results)

    <h5>Rejected (@rejected.numberFound)</h5>
    @includes.reports(rejected.results)

    <hr/>
</body>
</html>