@import model.forms.RegistrationDetails
@import model.User
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@(registerForm: Form[RegistrationDetails], owner: User)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

@includes.header(owner, None)

<h4>Register</h4>

@registerForm.globalError.map { error =>
    <p class="error">@error.message</p>
}

@helper.form(action = routes.RegisterController.submit) {
    @helper.inputText(registerForm("username"))
    @helper.inputText(registerForm("password"))
    <p class="buttons">
        <input type="submit" id="submit">
    <p>
}

</body>
</html>
