@import model.{Report, User}
@(r: Report, owner: User, signedIn: Option[User])
<!DOCTYPE html>
<html>
<head>
    <title>@r.headline</title>
</head>
<body>

    @includes.header(owner, signedIn)

    <hr/>

    @r.noticeboard.map{n =>
        <p><a href="@routes.NoticeboardController.noticeboard(n.id, None)">@n.name</a></p>
    }

    <h4>@r.headline</h4>

    @includes.media(r, "mediumoriginalaspectdouble", false)

    <p><a href="@routes.UserController.user(r.user.id, None)">@r.user.displayName</a>
        @r.created.toDate.format("d MMM YYYY HH:mm")
    </p>
    
    @r.via.map { v =>
        @v.client.map { c =>
            Via @c.name
        }
    }

    @r.body.map{b =>
        <p>@b</p>
    }

    <hr/>

</body>
</html>
