@import model.forms.FlagSubmission
@import model.{FlagType, Report, User}
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@(r: Report, owner: User, signedIn: Option[User], flagTypes: Seq[FlagType], flagForm: Form[FlagSubmission])
<!DOCTYPE html>
<html>
<head>
    <title>@r.headline</title>
</head>
<body>

    @includes.header(owner, signedIn)
    <hr/>

    <h4>@r.headline</h4>
    @includes.reportAttributes(r)
    @includes.media(r, "mediumoriginalaspectdouble", false)

    @r.body.map{b =>
        <p>@b</p>
    }

    <hr/>
    <h6>Report a problem with this report</h6>

    @helper.form(action = routes.ReportController.flag(r.id)) {
        @helper.inputText(flagForm("type"))
        @helper.inputText(flagForm("notes"))

        <input type="submit" id="submit">
    }
    <hr/>

</body>
</html>
