@import model.forms.FlagSubmission
@import model.{FlagType, Report, User}
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@(r: Report, owner: User, signedIn: Option[User], flagTypes: Seq[FlagType], flagForm: Form[FlagSubmission])
<!DOCTYPE html>
<html>
<head>
    <title>@r.headline</title>
</head>
<body>

    @includes.header(owner, signedIn)

    <hr/>

    @r.noticeboard.map{n =>
        <p><a href="@routes.NoticeboardController.noticeboard(n.id, None)">@n.name</a></p>
    }

    <h4>@r.headline</h4>

    @includes.media(r, "mediumoriginalaspectdouble", false)

    <p><a href="@routes.UserController.user(r.user.id, None)">@r.user.displayName</a>
        @r.created.toDate.format("d MMM YYYY HH:mm")
        @r.via.map { v =>
            @v.client.map { c =>
                via @c.name
            }
        }
    </p>

    @r.body.map{b =>
        <p>@b</p>
    }

    <h6>Report a problem with this report</h6>

    @helper.form(action = routes.ReportController.flag(r.id)) {
        @helper.inputText(flagForm("type"))
        @helper.inputText(flagForm("notes"))

        <input type="submit" id="submit">
    }
    <hr/>

</body>
</html>
