@import model.forms.ContributionForm
@import model.User
@import play.api.Play.current
@(contributionForm: Form[ContributionForm], owner: User, signedIn: Option[User])(implicit messages: Messages)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

@includes.header(owner, signedIn)

<h4>Submit</h4>

@if(contributionForm.hasGlobalErrors) {
    <p class="error">
        @contributionForm.globalError
    </p>
}

@helper.form(action = routes.SubmitController.submit, 'enctype -> "multipart/form-data") {
    @helper.inputText(contributionForm("headline"))
    @helper.inputText(contributionForm("body"))
    @helper.inputText(contributionForm("location"))
    <input type="file" name="media">

    <p class="buttons">
        <input type="submit" id="submit">
    <p>
}

</body>
</html>
