@import model.forms.ContributionForm
@import model.User
@import play.api.Play.current
@(contributionForm: Form[ContributionForm], owner: User, signedIn: Option[User])(implicit messages: Messages)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
</head>
<body>

@includes.header(owner, signedIn)

<h4>Submit</h4>

@if(contributionForm.hasGlobalErrors) {
    <p class="error">
        @contributionForm.globalError
    </p>
}

@helper.form(action = routes.SubmitController.submit, 'enctype -> "multipart/form-data") {
    @helper.inputText(contributionForm("headline"))
    @helper.inputText(contributionForm("body"))
    @helper.inputText(contributionForm("location"), 'class -> "location")
    @helper.inputText(contributionForm("latitude"))
    @helper.inputText(contributionForm("longitude"))
    @helper.inputText(contributionForm("osmId"))
    @helper.inputText(contributionForm("osmType"))
    <input type="file" name="media">

    <p class="buttons">
        <input type="submit" id="submit">
    <p>
}

<script>
    $("#location").autocomplete(
        {
            source: function(request, response) {
                $('#latitude').val(null);
                $('#longitude').val(null);
                $('#osmId').val(null);
                $('#osmType').val(null);

                $.ajax({
                  url: "https://nominatim-ac.eelpieconsulting.co.uk/suggest",
                  dataType: "jsonp",
                  data: {
                    q: request.term
                  },
                success: function( data ) {
                    var remapped = [];
                    for(i=0; i < data.length; i++) {
                        var item = {
                            value: data[i].address,
                            label: data[i].address,
                            latitude: data[i].latlong.lat,
                            longitude: data[i].latlong.lon,
                            osmId: data[i].osmId,
                            osmType: data[i].osmType
                            };
                        remapped.push(item);
                    }
                    response( remapped );
                }
            })},
            select: function(event, ui) {
                var id = ui.item.value;
                var name = ui.item.label;
                $('#location').val(name);
                $('#latitude').val(ui.item.latitude);
                $('#longitude').val(ui.item.longitude);
                $('#osmId').val(ui.item.osmId);
                $('#osmType').val(ui.item.osmType);

                var radius = $('#radius').val();
                if (!radius) {
                    $('#radius>option:eq(2)').prop('selected', true);
                }
                return false;
            },
            focus: function(event, ui) {
                var id = ui.item.value;
                var name = ui.item.label;
                return false;
            }
        }
    );
</script>

</body>
</html>
