@import model.Contribution
@import model.Tag
@import model.User
@import views.PageLink
@(tag: Tag, contributions: Seq[Contribution], owner: User, signedIn: Option[User], tags: Seq[Tag], pages: Seq[PageLink])(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>@tag.name</title>
</head>
<body>

@includes.header(owner, signedIn)

<hr/>
<h4>@tag.name</h4>

<table border="1">
    <tr valign="top">
        <td>
            @includes.sidenav(tags)
        </td>
        <td>
            @includes.pages(pages)

            @includes.contributions(contributions)
        </td>
    </tr>
</table>
</p>
<hr/>

</body>
</html>