@import model.{User, Contribution}
@import views.PageLink
@(user: User, owner: User, signedIn: Option[User], contributions: Seq[Contribution], nextPage: Option[PageLink])(implicit messages: Messages)
<!DOCTYPE html>
<html>
<head>
    <title>@user.displayName</title>
</head>
<body>
    @includes.header(owner, signedIn)
    <hr/>

    <h4>@user.displayName</h4>

    @user.bio.map { b =>
        <p>@b</p>
    }
    <p>Registered @user.registered</p>


    @includes.contributions(contributions)
    <hr/>

    @includes.pagination(nextPage)

</body>
</html>